@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background: #1e1e30;
  width: 100%;
}
.head {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
}
.head h1 {
  color: rgb(209, 198, 198);
  font-size: 3.5vh;
}
.head span {
  color: #4c75f2;
}
.sta-and-dis {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.state {
  flex: 3;
  pointer-events: none;
}
.state-border {
  justify-content: center;
  color: #e23028;
  background: #36353538;
  width: fit-content;
  border-radius: 4px;
}
.state-border h3 {
  font-size: 25px;
  margin: 7px;
}
.state p {
  color: #6c757d;
}
.gap {
  flex: 3;
}
.district {
  margin-left: 10px;
  flex: 2;
  justify-content: right;
}
.district p {
  color: #6c757d;
}
.most {
  color: #007bff;
  font-size: 20px;
  flex-wrap: nowrap;
}
.box {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.blank_space1 {
  flex: 1;
}
.blank_space2 {
  flex: 2;
}
.card01,
.card02,
.card03,
.card04 {
  width: 20vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.card01 {
  color: rgb(255, 7, 58);
}
.card02 {
  color: rgb(40, 167, 69);
}
.card03 {
  color: rgb(108, 117, 125);
}
.card04 {
  color: rgb(0, 123, 255);
}
.card01 p,
.card02 p,
.card03 p,
.card04 p {
  font-size: 15px;
}
.card01 i,
.card02 i,
.card03 i,
.card04 i {
  font-size: 10px;
}
.card01 *,
.card02 *,
.card03 *,
.card04 * {
  margin-top: 10px;
}
.total_count {
  margin: 20px;
  color: rgb(255, 7, 58);
}
.lds-ellipsis {
  align-items: center;
  display: inline-block;
  position: relative;
  margin-left: 1vh;
  margin-bottom: 3vh;
  width: 13vh;
}
.lds-ellipsis div {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.card01-color {
  background-color: rgb(255, 7, 58);
}
.card02-color {
  background-color: rgb(40, 167, 69);
}
.card03-color {
  background-color: rgb(108, 117, 125);
}
.card04-color {
  background-color: rgb(0, 123, 255);
}
